body.loading {
  cursor: wait;
}

.plus-button {
  position: fixed;
  bottom: 20px; /* Adjust the distance from the bottom as needed */
  right: 20px; /* Adjust the distance from the right as needed */
  z-index: 100;
}

.custom-label a {
  color: yellow; /* Set the desired color */
  font-weight: bold; /* Add any other desired styles */
}

.custom-label {
  color: yellow; /* Choose the desired color */
  font-weight: bold; /* Add any other desired styles */
}

.App.night-sky-background {
  background-color: navy;
  background-image: url("night-sky.jpg");
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;
}

.App {
  text-align: center;
}
